@model Tienda.ViewModels.CategoriaViewModel

@{
    ViewData["Title"] = "Eliminar Categoria";
    Layout = "_Layout";
}


<h2>Eliminar Categoría</h2>

<h4>¿Seguro que quieres eliminar esta categoría?</h4>

<div>
    <strong>Nombre:</strong> @Model.Nombre <br />
    <strong>Descripción:</strong> @Model.Descripcion
</div>

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="CategoriaId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
